@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* :root {
        --text: 255, 255, 255;
        --text-hover: 77, 77, 223;
        --text-muted: 107, 70, 193;
        --text-inverted: 20, 20, 20;
        --btn-accent: 107, 70, 193;
        --btn-accent-hover: 107, 70, 193;
        --btn-muted: 107, 70, 193;
        --btn-fill: 107, 70, 193;
        --bg: 77, 77, 223;
        --bg-fill: 229, 229, 247;
        --bg-gradiant: 97, 97, 253;
        --border: 235, 235, 235;
        --border-fill: 77, 77, 223;
        --stroke: 255, 0, 0;
    } */
}
.snaps-y-container {
    @apply snap-y  snap-mandatory overflow-y-scroll scroll-smooth;
}
.snaps-y-container > * {
    scroll-snap-align: start;
}

.text-mode-v-rl {
    writing-mode: vertical-rl;
}
* {
    font-family: serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: transparent;
    border: none;
    text-decoration: none;
}
*,
*::before,
*::after {
    transition: color 0.3s linear, background 0.3s linear;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
.remove_scroll_bar {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.remove_scroll_bar::-webkit-scrollbar {
    display: none;
}
html,
body,
#root {
    min-height: 100vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
    display: none;
}
.kj {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
