#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: bottom center;
    background-size: cover;
    background-image: url("/public/images/scott-webb-GQD3Av_9A88-unsplash.jpg");
}
